<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- Fletcher server
    <add name="value" connectionString="Data Source=10.76.1.14;Initial Catalog=fletcher_test;User ID=momentis;Password=HGDHSWGWYIBWGQDIJSGXDHZSGSRHXA;"/>
	-->

    <!-- Fletcher in mfstestsql05-->
    <add name="value" connectionString="Data Source=mfstestsql05;Initial Catalog=fletcher_test;User ID=momentis;Password=HGDHSWGWYIBWGQDIJSGXDHZSGSRHXA;"/>
  </connectionStrings>
</configuration>